<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkblog.business.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.hkblog.domain.entity.Comment">
            <id property="commentId" column="comment_id" jdbcType="VARCHAR"/>
            <result property="fromUserId" column="from_user_id" jdbcType="VARCHAR"/>
            <result property="postId" column="post_id" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        comment_id,from_user_id,post_id,
        content,deleted,create_time,
        update_time
    </sql>
</mapper>
