<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkblog.business.mapper.WebsiteSettingMapper">

    <resultMap id="BaseResultMap" type="com.hkblog.domain.entity.WebsiteSetting">
            <result property="webName" column="web_name" jdbcType="VARCHAR"/>
            <result property="webStatus" column="web_status" jdbcType="INTEGER"/>
            <result property="webLogo" column="web_logo" jdbcType="VARCHAR"/>
            <result property="webQrcode" column="web_qrcode" jdbcType="VARCHAR"/>
            <result property="webDesc" column="web_desc" jdbcType="VARCHAR"/>
            <result property="webCopyright" column="web_copyright" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        web_name,web_status,web_logo,
        web_qrcode,web_desc,web_copyright,
        version,create_time,update_time,
        deleted
    </sql>
</mapper>
